body {
    background-color: #000;
    color: #fff;
    font-family: 'Arial', sans-serif;
    text-align: center;
}

#gameArea {
    margin: 20px auto;
    border: 2px solid #00FFFF;
    width: 480px;
    height: 320px;
    display: flex;
    align-items: center;
    justify-content: center;
}

canvas {
    background-color: #000;
}

button {
    padding: 10px 20px;
    margin: 10px;
    background-color: #00FFFF;
    border: none;
    color: #000;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
}

button:hover {
    background-color: #0095DD;
}
